.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  text-align: center;
}

.navbar .navbar-collapse {
  text-align: center;
}

li .page-scroll {
  font-size: 1.4em;
}

p.dark {
  color: #262626;
}
p.gray {
  color: #5a5a5a;
}
#contact .fa {
  color: #5a5a5a;
  font-size: 2.5em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}
.split-para {
  display:block;
  margin-bottom: 15px;
}
.split-para span {
  display:block;
  float:right;
}
.logo {
  margin-top: 5px;
  width: 10em;
}
@media (max-width: 1200px) {
  .pad-right {
    margin-right: 2.5em;
  }
}

#my-photo {
   height: 15em;
}

@media (max-width: 767px) {
  #my-name {
    color: #1867a3;
    font-size: 3em;
    padding-top: 0.3em;
    margin-bottom: 0;
  }
  .logo {
    margin-top: 5px;
    width: 5em;
  }
  .pad-right {
    margin-right: 0.5em;
  }
  .split-para {
    margin-bottom: 10px;
  }
  .split-para span {
    display:none;
  }
}

#my-tagline {
  font-family: 'Bebas Neue Regular', "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:1.49em;
  text-align: center;
  color: #263135;
}

.content-section {
  width: 100%;
}

.section-header {
  font-family: 'Bebas Neue Regular', "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:5em;
  text-align: left;
}


#education .section-header {
  color: #1867a3;
}
#relevant-experience .section-header {
  color: #b9b7b8;
}
#awards .section-header {
  color: #b9b7b8;
}


#about {
  background-color: #1867a3;
}
#work-experience {
  background-color: #b9b7b8;
}
#portfolio {
  background-color: #1867a3;
}
#contact {
  background-color: #b9b7b8;
}

.image-overflow-container {
  overflow:hidden;
  position: relative;
}

#photo-line-background {
  background-image: url("../img/photo_line.jpg");
  background-size: cover;
  background-repeat: repeat-x;
  height: 15em;
}

.project-img {
  max-width: 100%;
}
div.project-desc {
  background-color: #e5e9e7;
}
p.project-desc {
  padding: 1.5em;
}


.text-center {
  text-align: center;
}



/* COLOR PALETTE
#263135 (navbar)
#1867a3
#e5e9e7 (page background)
#b9b7b8 (background 2)
#262626 (text)
*/
